{% extends 'base.html' %}

{% load static %}

{% block content %}
    <style>
        .rating-container {
            display: flex;
            align-items: center; 
            margin-top: 10px;
        }

        .star-rating {
            font-size: 2em;
            color: #ccc;
            display: inline-block;
        }

        .rating-value {
            font-size: 1.2em;
            margin-left: 10px;
            color: #333;
        }
        
        .back-button {
            position: absolute;
            top: 70px;
            left: 20px;
            padding: 10px 20px;
            z-index: 10;
        }
    </style>
    
    
<div class="container my-5">
    <input type="button" value="← Back" onClick="history.go(-1);" class="btn-custom back-button">
    <h1 class="display-4">{{ recipe.recipe_name }}</h1>
    <p class="lead">{{ recipe.description }}</p>

    <!-- Preparation Time with alert box to highlight it -->
    <div class="alert alert-warning" role="alert">
        <h3 class="alert-heading">Preparation Time</h3>
        <p>{{ recipe.prep_time }} minutes</p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>Ingredients ({{ recipe.n_ingredients }})</h3>
            <ul class="list-group">
                {% with recipe.ingredients as ingredients %}
                    {% for ingredient in ingredients %}
                        <li class="list-group-item">{{ ingredient }}</li>
                    {% endfor %}
                {% endwith %}
            </ul>
        </div>

        <!-- Radar Chart Section -->
        <div class="col-md-6">
            <h3>Mean Sentiment Score</h3><h6>(based on this recipe's reviews)</h6>
            <div style="width: 100%; max-width: 400px; margin: auto;">
                <canvas id="radarChart" width="300" height="300"></canvas>
            </div>
        </div>
    </div>

    <div style="padding: 0.5rem;"></div>

    <!-- Steps Section formatted like Ingredients -->
    <div>
        <h3>Steps ({{ recipe.n_steps }})</h3>
        <ul class="list-group">
            {% for step in recipe.steps %}
                <li class="list-group-item">{{ step }}</li>
            {% endfor %}
        </ul>
    </div>

    <!-- Divider -->
    <div style="padding: 1.5rem;"></div>

    <!-- Reviews Section -->
    <h3>Reviews</h3>
    <div>
        {% if reviews %}
            <ul class="list-group">
                {% for review in reviews %}
                    <li class="list-group-item star-list" data-rating="{{ review.rating }}">
                        <strong>{{ review.user }}</strong>
                        <span class="text-muted">({{ review.date }})</span>
                        <p>{{ review.review|safe }}</p>
                        <div class="rating-container">
                           <div class="star-rating">
                                <span class="star empty">&#9733;</span>
                                <span class="star empty">&#9733;</span>
                                <span class="star empty">&#9733;</span>
                                <span class="star empty">&#9733;</span>
                                <span class="star empty">&#9733;</span>
                           </div>
                           <span class="rating-value">{{ recipe.rating }}</span><span>/5</span>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No reviews on this one.</p>
        {% endif %}
    </div>
</div>

<!-- Include Chart.js library -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="{% static 'js/star_rating.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const item = document.querySelectorAll('.list-group-item.star-list');
        item.forEach(container => {
            // Parse the rating and round it to two decimal places
            let rating = parseInt(container.dataset.rating);
            rating = Math.round(rating * 100) / 100;
            
            // Update the star rating display
            const starRatingElement = container.querySelector('.star-rating');
            viewStars(starRatingElement, rating);

            // Update the rating display next to the stars
            const ratingValueElement = container.querySelector('.rating-value');
            ratingValueElement.textContent = rating.toFixed(2); // Set the rounded rating value
        });
    });

    // Convert the Django context variables to JavaScript
    const labels = {{ sentiment_list|safe }};
    const data = {{ sentiment_vector|safe }};

    // Create the radar chart using Chart.js
    const ctx = document.getElementById('radarChart').getContext('2d');
    const radarChart = new Chart(ctx, {
        type: 'radar',
        data: {
            labels: labels,
            datasets: [{
                data: data,
                backgroundColor: 'rgba(255,194,82,0.48)',
                borderColor: 'rgb(255,207,107)',
                borderWidth: 1
            }]
        },
        options: {
            scale: {
                ticks: {
                    beginAtZero: true,
                    max: 10
                }
            },
            plugins: {
                legend: {
                    display: false  // This hides the legend (label)
                }
            }
        }
    });
</script>
{% endblock %}
