{% extends 'base.html' %}

{% block title %}Home - Recipe Finder{% endblock %}

{% block content %}
<div class="search-container">
    <form class="search-box" method="GET" action="{% url 'result' %}">
        {{ form.text_search }}
        <button type="submit">Search</button>
    </form>
</div>

<div class="filters">
    <form method="GET" action="{% url 'result' %}">
        <div class="filter-item">
            <label>Number of Steps</label>
            <div id="n_steps_slider"></div>
            <span id="n_steps_min_text">1</span> - 
            <span id="n_steps_max_text">50</span>
            <input type="hidden" name="n_steps_min" id="n_steps_min" value="1">
            <input type="hidden" name="n_steps_max" id="n_steps_max" value="50">
        </div>
        
        <div class="filter-item">
            <label>Preparation Time (minutes)</label>
            <div id="prep_time_slider"></div>
            <span id="prep_time_min_text">1</span> - 
            <span id="prep_time_max_text">10000</span>
            <input type="hidden" name="prep_time_min" id="prep_time_min" value="1">
            <input type="hidden" name="prep_time_max" id="prep_time_max" value="10000">
        </div>
        
        <div class="filter-item">
            <label>Number of Ingredients</label>
            <div id="n_ingredients_slider"></div>
            <span id="n_ingredients_min_text">1</span> - 
            <span id="n_ingredients_max_text">20</span>
            <input type="hidden" name="n_ingredients_min" id="n_ingredients_min" value="1">
            <input type="hidden" name="n_ingredients_max" id="n_ingredients_max" value="20">
        </div>
    
        <label for="rating" class="rating-label">{{ form.rating.label }}</label>
        <div class="star-rating">
            {% for i in "54321" %}
                <input type="radio" name="stars" value="{{ i }}" id="star{{ i }}"
                    {% if form.instance.rating|stringformat:"s" == i %} checked {% endif %}>
                <label for="star{{ i }}">&#9733;</label>
            {% endfor %}

            <input type="radio" name="stars" value="0" id="star0"
                {% if form.instance.rating == 0 %} checked {% endif %}>
            <label for="star0" style="display: none;">&#9733;</label>
        </div>
        
        
        <div class="filter-item">
            <label for="recipe_date">{{ form.recipe_date.label }}</label>
            {{ form.recipe_date }}
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>

<style>
    .search-container {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    .search-box {
        width: 60%;
        position: relative;
        display: flex;
        align-items: center;
    }
    .search-box input[type="text"] {
        width: 100%;
        padding: 15px 20px;
        font-size: 18px;
        border-radius: 30px;
        border: 1px solid #ced4da;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }
    .search-box button {
        position: absolute;
        right: 10px;
        padding: 12px 20px;
        background-color: #28a745;
        border: none;
        border-radius: 30px;
        color: white;
        font-size: 18px;
        cursor: pointer;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }
    .filters {
        margin-top: 30px;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .filter-item {
        margin-bottom: 20px;
    }
    .filter-item label, .rating-label{
        display: block;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .filter-item div {
        display: inline-block;
        width: 75%;
    }
    .filter-item span {
        display: inline-block;
        width: 10%;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
    }
    .rating-label {
        margin-bottom: 0; 
    }
    .star-rating {
        display: flex;
        justify-content: left;
        flex-direction: row-reverse;
    }
    .star-rating input {
        display: none;
    }
    .star-rating label {
        font-size: 3rem;
        color: #ddd;
        cursor: pointer;
        padding: 0 10px;
    }
    .star-rating input:checked ~ label,
    .star-rating label:hover,
    .star-rating label:hover ~ label {
        color: #f39c12;
    }


</style>

<script>
    $(function() {
        // Initialization of jQuery UI Slider for the filters
        $("#n_steps_slider").slider({
            range: true,
            min: 1,
            max: 50,
            values: [1, 50],
            slide: function(event, ui) {
                $("#n_steps_min").val(ui.values[0]);
                $("#n_steps_max").val(ui.values[1]);
                $("#n_steps_min_text").text(ui.values[0]);
                $("#n_steps_max_text").text(ui.values[1]);
            }
        });

        $("#prep_time_slider").slider({
            range: true,
            min: 1,
            max: 10000,
            values: [1, 10000],
            slide: function(event, ui) {
                $("#prep_time_min").val(ui.values[0]);
                $("#prep_time_max").val(ui.values[1]);
                $("#prep_time_min_text").text(ui.values[0]);
                $("#prep_time_max_text").text(ui.values[1]);
            }
        });

        $("#n_ingredients_slider").slider({
            range: true,
            min: 1,
            max: 20,
            values: [1, 20],
            slide: function(event, ui) {
                $("#n_ingredients_min").val(ui.values[0]);
                $("#n_ingredients_max").val(ui.values[1]);
                $("#n_ingredients_min_text").text(ui.values[0]);
                $("#n_ingredients_max_text").text(ui.values[1]);
            }
        });
    });
    
    document.addEventListener('DOMContentLoaded', function () {
            const star1Input = document.getElementById('star1');
            const star0Input = document.getElementById('star0');
            const star1Label = document.querySelector('label[for="star1"]');

            star1Label.addEventListener('click', function (event) {
                // If the first star is already selected
                if (star1Input.checked) {
                    // Prevent the default behavior of the label click
                    event.preventDefault();
                    // Deselect the first star by selecting the hidden 0-star input
                    star0Input.checked = true;
                    // Trigger change event to update form state
                    star0Input.dispatchEvent(new Event('change'));
                }
            });
        });
</script>
{% endblock %}
